body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
#_idContainer000, #_idContainer014, #_idContainer016, #_idContainer020 {
	display:inline-block;
	height:989px;
	width:1922px;
}
#_idContainer001 {
	background-image:url(../image/1.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer002 {
	display:inline-block;
	height:1879px;
	width:1920px;
}
#_idContainer003 {
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer004, #_idContainer006, #_idContainer008, #_idContainer010 {
	display:inline-block;
	height:987px;
	width:1920px;
}
#_idContainer005 {
	background-image:url(../image/3.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer007 {
	background-image:url(../image/4.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer009 {
	background-image:url(../image/5.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer011 {
	background-image:url(../image/6.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer012, #_idContainer018, #_idContainer022 {
	display:inline-block;
	height:988px;
	width:1920px;
}
#_idContainer013 {
	background-image:url(../image/7.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer015 {
	background-image:url(../image/8.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer017 {
	background-image:url(../image/9.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer019 {
	background-image:url(../image/10.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer021 {
	background-image:url(../image/11.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer023 {
	background-image:url(../image/12.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:108px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
#_idContainer024 {
	background-image:url(../image/13.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:411px;
	overflow:hidden;
	position:relative;
	width:1920px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	-ms-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
div._idGenObjectAttribute-3 {
	height:108px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1920px;
}
div._idGenObjectAttribute-4 {
	height:411px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1920px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
